html {
    background-image: url("images/phobia.jpg");
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}
#site_header nav {
    display: flex;
}
.align-right {
    /* pushes to the far right */
    margin-left: auto; 
}

#content {
    text-align: center;
}