/* . means class, # means ID */

html {
    background-image: url("images/phobia.jpg");
    color: #ffffff;
    margin-left: 150px;
    margin-right: 150px;
    cursor: url("images/alt_skull.webp"), auto;
}

body {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px; /* Adds space inside the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
    margin: auto; /* Center it horizontally */
}

body a {
    color: red;
}

#site_header h1 {
    font-size: 300%
}

#site_header nav {
    display: flex;
}

.align-right {
    /* pushes to the far right */
    margin-left: auto; 
}

.content {
    text-align: center;
}

.buttons {
    float:right
}

.posttitle {
    font-size: 1.17em;
    font-weight: bold;
    margin-left: 90px;
}