<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>戴RY (๑˃̵ᴗ˂̵)و</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/gary.webp') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- for mobile users -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header id="site_header">
      <h1>diary <sub>!!</sub></h1>
      <nav>
        <span>
          <a href="/" class="active">home</a>
        </span>
        <span>|</span>
        <span>
          <a href="/art/">art</a>
        </span>
        <span>|</span>
        <span>
          <a href="/diary/">diary</a>
        </span>
        <span>|</span>
        <div class="align-right">
          <a href="/new-post/">new diary post</a>
          <span>|</span>
          <a href="/new-art/">new art post</a>
        </div>
      </nav>
    </header>
    <div class="content"></div>
      <div id="diary">
        <p>
          <hr>
          <form id="pwd">
            <input type="password" id="validate" 
                    placeholder="Enter Password">
            <button type="button" onclick="passwordprotect()">Submit</button>
          </form>
          <div id="posts" style="display: none;">
              {% for post in posts %}
                  <span class="posttitle">{{ post.title }} </span>
                  <span class="buttons">
                    <form action="/diarydelete/" method="post">
                      <input type="submit" value="delete">
                      <input type="hidden" name="postid" value="{{ post.postid }}">
                    </form>
                  </span>
                  <p>{{ post.created }} </p>
                  <p>{{ post.text }}</p>
                  <hr>
              {% endfor %}
          </div>
          <script>
            function passwordprotect() {
              let input_pwd = document.getElementById("validate").value;
              let correct_pwd = "iluvclover";
              if (input_pwd === correct_pwd) {
                  document.getElementById("posts").style.display = "block";
                  document.getElementById("pwd").style.display = "none";
              }
              else {
                  alert("Incorrect password!");
              }
            }

            document.getElementById("validate").addEventListener("keypress", function(event) {
              if (event.key === "Enter") {
                event.preventDefault();  // Prevent the default form submission
                passwordprotect();  // Trigger the password validation
              }
            });
          </script>
        </p>
      </div>
    </div>
  </body>
</html>
