<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>戴RY (๑˃̵ᴗ˂̵)و</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/gary.webp') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- for mobile users -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header id="site_header">
      <h1>diary <sub>!!</sub></h1>
      <nav>
        <span>
          <a href="/" class="active">home</a>
        </span>
        <span>|</span>
        <span>
          <a href="/art/">art</a>
        </span>
        <span>|</span>
        <span>
          <a href="/diary/">diary</a>
        </span>
        <span>|</span>
        <span class="align-right"><a href="/new-post/">new diary post</a></span>
      </nav>
    </header>
    <div class="content"></div>
      <div id="diary">
        <p>
          <hr>
          <div id="posts">
              {% for post in posts %}
                  <span class="posttitle">{{ post.title }} </span>
                  <span class="buttons">
                    <form action="/diarydelete/" method="post">
                      <input type="submit" value="delete">
                      <input type="hidden" name="postid" value="{{ post.postid }}">
                    </form>
                  </span>
                  <p>{{ post.created }} </p>
                  <p>{{ post.text }}</p>
                  <hr>
              {% endfor %}
          </div>
        </p>
      </div>
    </div>
  </body>
</html>
